.App {
  text-align: center;
  color:white;
}

.btn{
  margin: 2rem;
}

.profile{
  padding-bottom: 2.5rem;
  margin:auto;

}
.profPic{
  width:85%;
}

.profName{
  margin-top: 1.5rem;
  font-weight: bold;
  font-size:4vw;
}
.logo{
  width:500px;
  min-width:45%;
}
.logo-title{
  margin:1rem;
  font-size: 4.5vh;
}

.logout{
  margin:1.5rem;
  margin-top:1rem;
}
